---
import Layout from '../layouts/Med.astro';
import SanityPortableText from '../components/SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate, formatMusicPerv } from '../utils/helpers.js'
import { getAllRelinner } from '../lib/api.js';
import { getAllRel } from '../lib/api.js';
import CldImage from '../components/CldImage.astro';
export interface Props {
  music: any;
  innerText: any;
}

const art = await getAllRel();
const { slug } = Astro.params;
const music = art.find((art) => art.slug.current === slug);
if (!music) return Astro.redirect("/404");
const { title, } = music;

const getAllRels = await getAllRel();

const seo = {
  title: `${title}`,
  description: ``,
}
---
<Layout seo={seo}>
    <section data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca11" class="section services wf-section">
        <div class="container-default w-container">
            <div data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca13" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="content-top services">
                <div class="split-content services-left">
                    <h1>{music.title}</h1>
                    <p>{music.dis}</p>
                </div>
                <div class="split-content services-right"><a href="/services-list" class="button-primary w-button">Перечень&nbsp;оборудования</a></div><img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/6022b3d4431e40819c902652_shape-2-services-dentist-template.svg" data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca1c"
                    alt="" class="shape services-1" style="will-change: transform; transform: translate3d(0px, -16px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
            <div class="services-wrapper">
                <div class="w-dyn-list">
                    <div data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca1f" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" role="list" class="services-grid w-dyn-items">
                        {music.tracklist.map((track) => {
                            if (track.manuscript && track.manuscript.asset) {
                              return (
                              <div role="listitem" class="card-service-item w-dyn-item">
                            <a href="/#Contact" class="card service w-inline-block">
                                <div class="image-wrapper card-service"><img src={getSanityImageURL(track.image).url()}></div>
                                <div class="card-service-content">
                                    <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">{track.number}</h2>
                                    <p class="paragraph card-service">{track.duration}</p>
                                    <div class="link-underline-wrapper">
                                        <div>Подробнее</div>
                                        <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                              );
                            } else {
                              return (
                              <div role="listitem" class="card-service-item w-dyn-item">
                            <a href="/#Contact" class="card service w-inline-block">
                                <div class="image-wrapper card-service"><img src={getSanityImageURL(track.image).url()}></div>
                                <div class="card-service-content">
                                    <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">{track.number}</h2>
                                    <p class="paragraph card-service">{track.duration}</p>
                                    <div class="link-underline-wrapper">
                                        <div>Подробнее</div>
                                        <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                              );
                            }
                          })}
                    </div>
                </div><img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/6022b3d535d4e29e42b37891_shape-1-services-dentist-template.svg" data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca2e" alt="" class="shape services-2" style="will-change: transform; transform: translate3d(0px, 65px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
        </div>
    </section>
</Layout>

