---
import Layout from '../layouts/Med.astro';
import SanityPortableText from '../components/SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate, formatMusicPerv } from '../utils/helpers.js'
import { getAllRelinner } from '../lib/api.js';
import { getAllRel } from '../lib/api.js';
import CldImage from '../components/CldImage.astro';
export interface Props {
  music: any;
  innerText: any;
}

const art = await getAllRel();
const { slug } = Astro.params;
const music = art.find((art) => art.slug.current === slug);
if (!music) return Astro.redirect("/404");
const { title, } = music;

const getAllRels = await getAllRel();

const seo = {
  title: `Группа ${title}`,
  description: `Учебные материалы и задания группы: ${title}. Учиться стало проще с нашим сайтом!✅`,
}
---
<Layout seo={seo}>
  <div class="dashboard-nav-main-container">
    <div class="container-default w-container">
        <div class="dashboard-nav-container">
            <div class="dashboard-nav-left-content">
                <div class="mg-right-24px">
                    <div class="text-400 medium color-neutral-800">


                    <div class="color-neutral-800">
                        Группа {music.title}
                    </div>
                  </div>
      
      
                </div>

            </div>
            <div class="dashboard-nav-right-content">

                <div style="height: 42px"></div>


            </div>
        </div>
    </div>
</div>
<div class="dashboard-main-content">
    <div class="container-default w-container">
        <div data-w-id="91243996-f3e7-6212-7e17-a5f0993fd94c" style="opacity: 1;" class="mg-bottom-32px">
            <div class="grid-2-columns">
                <div id="w-node-_91243996-f3e7-6212-7e17-a5f0993fd94e-ca9d863e" class="flex align-center children-wrap">
                    <div class="text-400 medium">Группы</div>
                    <div class="line-rounded-icon breadcrumb-divider"><i class='bx bx-chevron-right' style="line-height: 50px;"></i></div>
                    <div class="text-400 bold color-neutral-800"><a class="text-400 medium color-neutral-800" style="text-decoration: none;" href={`${music.slug.current}`}>
                        {music.title}
                      </a></div>


                </div>
                <div id="w-node-_932d2677-0544-0771-3519-962dbc05f149-ca9d863e" class="flex vertical-mbp gap-16px">
                
                    <div data-w-id="d1b55e49-7d13-d87c-452b-0464c1760e5d" class="display-inline-block"><a id="w-node-d1b55e49-7d13-d87c-452b-0464c1760e5e-ca9d863e" href={music.downloadmp3} class="btn-primary w-button"><span class="line-rounded-icon link-icon-left"><i class='bx bx-upload' ></i></span>Отправить работу</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-w-id="5e151d76-f2d6-82ba-f344-3744a7cf7cf6" style="opacity: 1;" class="mg-bottom-24px">
            <div class="module border-radius-30px overflow-hidden">
                <div class="file-manager-table-row header">
                    <div class="flex align-center">

                        <div class="flex align-center cursor-pointer">
                            <div class="text-100 medium text-uppercase">Имя</div>
                            <div class="dashly-custom-icon table-sort-icon"><i class='bx bx-caret-down'></i></div>
                        </div>
                    </div>
                    <div class="flex align-center cursor-pointer">
                        <div class="text-100 medium text-uppercase">Тема</div>
                        <div class="dashly-custom-icon table-sort-icon"><i class='bx bx-caret-down'></i></div>
                    </div>
                    <div class="flex align-center cursor-pointer">
                        <div class="text-100 medium text-uppercase">Дата задания</div>
                        <div class="dashly-custom-icon table-sort-icon"><i class='bx bx-caret-down'></i></div>
                    </div>
                    <div class="flex align-center cursor-pointer">
                        <div class="text-100 medium text-uppercase">Тип файла</div>
                        <div class="dashly-custom-icon table-sort-icon"><i class='bx bx-caret-down'></i></div>
                    </div>
                </div>


                {music.tracklist.map((track) => {
                  if (track.manuscript && track.manuscript.asset) {
                    const fileRef = track.manuscript.asset._ref.replace('file-', '');
                    const lastDashIndex = fileRef.lastIndexOf("-");
                    const fileExtension = fileRef.substring(lastDashIndex + 1);
                    const formattedFileRef = `${fileRef.substring(0, lastDashIndex)}.${fileExtension}`;
                    const fileUrl = `https://cdn.sanity.io/files/2xd7irb9/production/${formattedFileRef}`;
                    return (
                <div class="file-manager-table-row">
                  <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe3635-ca9d863e" class="table-item">
                      <div class="table-item-mobile-caption">
                          <div class="text-100 medium text-uppercase">Имя</div>
                      </div>
                      <div class="flex align-center">
                          
                          <div class="flex align-center">
                              <div class="text-200 medium color-neutral-800">{track.number}</div>
                          </div>
                      </div>
                  </div>
                  <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe364a-ca9d863e" class="table-item">
                      <div class="table-item-mobile-caption">
                          <div class="text-100 medium text-uppercase">Тема</div>
                      </div>
                      <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe364e-ca9d863e" class="text-200">{track.duration}</div>
                  </div>
                  <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe3650-ca9d863e" class="table-item">
                      <div class="table-item-mobile-caption">
                          <div class="text-100 medium text-uppercase">Дата задания</div>
                      </div>
                      <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe3654-ca9d863e" class="text-200">{formatBlogPostDate(track.released)}</div>
                  </div>
                  <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe3656-ca9d863e" class="table-item">
                      <div class="table-item-mobile-caption">
                          <div class="text-100 medium text-uppercase">Тип файла</div>
                      </div>
                      <div id="w-node-_694f3f70-19c5-1b7b-827a-6cea25fe365a-ca9d863e" style=" text-transform: uppercase;" class="text-200">{fileExtension}</div>
                  </div>
                  <div id="w-node-a61542d2-58a0-9095-449b-3ba12e3a4293-ca9d863e" class="table-item last">
                      <div class="table-item-mobile-caption">
                          <div class="text-100 medium text-uppercase">Действия</div>
                      </div>
                      <div class="">
                        <a href={fileUrl} target="_blank" download class="btn-secondary small w-button"><span class="line-rounded-icon link-icon-left"><i class='bx bxs-download'></i></span>Скачать</a>
                      </div>
                  </div>
              </div>
                    );
                  } else {
                    return (
                      <li key={track._key}>
                        <span>{track.number}</span>
                        <span>{track.duration}</span>
                      </li>
                    );
                  }
                })}
            </div>
        </div>

    </div>
</div>
<div data-w-id="297d8ad8-db4a-3ae2-197c-704798a15c49" class="dashboard-footer-wrapper" style="opacity: 1;">
    <div class="container-default w-container">
        <div class="dashboard-footer-inner-wrapper">
            <div>Сайт разработан: <a target="_blank" href="https://vk.com/createandchoose">Aytal Popov</a> - из <a target="_blank" href="https://simbios.agency">Simbios | Digital Agency</a></div>
        </div>
    </div>
</div>

</Layout>

