---
import Layout from './Page.astro';
import LinerNotes from '../components/Music/LinerNotes.astro';

import SanityPortableText from '../components/SanityPortableText.astro'
import { getSanityImageURL, formatBlogPostDate } from '../utils/helpers.js'
import { getAllRel } from '../lib/api.js';


const { frontmatter } = Astro.props;

export interface Props {
  music: any;
}

const { music } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);


export async function getStaticPaths() {
  const allMusicInfo = await getAllRel();

  return allMusicInfo.map(music => ({ params: { slug: music.slug.current }, props: { music } }));
}



const seo = {
  title: music.title,
  description: music.title,
  image: getSanityImageURL(music.cover).width(1200).url(),
}
---

<Layout seo={seo}>
<div class="div-block-2"></div>

<div class="dirbox">
    <div class="dirbox">
        <h1 class="heading-isssn">{music.title} ({formatBlogPostDate(music.released)})</h1>
        <h1>{frontmatter.author}</h1>
        <div class="dir">
            <a href="/">
                <div id="dirdark" class="dirlink">Home</div>
            </a>

            <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">

            <a href="/music/">
                <div id="dirdark" class="dirlink_cor">Music</div>
            </a>

            <img src="/img/icons/cheveron-right.svg" loading="lazy" alt="" class="rightch">

            <a href="/i_wanna_die/">
                <div class="dirlink_cor">{music.title}</div>
            </a>
        </div>
    </div>
</div>
<div class="musicinner">
    <div class="w-row">
        <div class="column-3 w-col w-col-6">
          <a href="">
            <div class="div-block-4">{music.cover && <img class="image-3" src={getSanityImageURL(music.cover).url()} />}</div>
          </a>
        </div>
        <div class="column-5 w-col w-col-6">
            <h1 class="heading-ina">{music.title}</h1>
            <div>
                Released: {formatBlogPostDate(music.released)}
                <br> Number of tracks: {music.numberoftracks}
                <br> Genre: {music.genre}
                <br> Type: aaaa
                <br> Price: {music.price}
            </div>
            <div class="ffff w-row">
                <div class="w-col w-col-6">
                    <a class="buttonmusic" href={music.downloadmp3}>
                        <img src="/img/icons/bxs-download.svg.svg">
                        <div>DOWNLOAD MP3</div>
                    </a>
                </div>
                <div class="w-col w-col-6">
                    <a class="buttonmusic" href={music.bandcamplink}>
                        <img src="/img/icons/brandico_bandcamp.svg">
                        <div>DOWNLOAD FLAC</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h1 class="heading-isssn">Track List</h1>

    <div class="listmus">
      {music.tracklist &&
        music.tracklist.map((tracklist) => {
          return (
            <div class="musiclist w-row">
                    <div class="column-2 w-col w-col-6">
                        <div class="numertrack">{tracklist.name}.</div>
                        <div>{tracklist.number}</div>
                    </div>
                    <div class="column w-col w-col-6">
                        <div class="tas">{tracklist.duration}</div>
                    </div>
                </div>
          );                  
         })
      }
  </div>

</div>
<h1 class="heading-isssn"><strong>Gallery</strong></h1>
<div class="relises">
  {music.gallary &&
    music.gallary.map((gallary) => {
      return (
          <div class="photo-box">{gallary.image && <img width="100%" height="100%" src={getSanityImageURL(gallary.image).url()} />}</div>
      );                  
    })
  }
</div>
<div class="nmusicnotes">
    <div class="w-row">
        <div class="column-4 w-col w-col-6">
            <h1 class="heading-ins">Production Notes</h1>
            <div class="tas">
              <SanityPortableText portableText={music.releaseNote} />         
            </div>
        </div>
        <div class="column-9 w-col w-col-6">
            <h1 class="heading-ins">Liner Notes</h1>
            <div class="text-block-4">
              <LinerNotes />
              <SanityPortableText portableText={music.productNote} />
            </div>
        </div>
    </div>
</div>
</Layout>
